.body {
  flex: 1;
  padding: 20px;
  height: 100vh;
  color: white;
  background: linear-gradient(rgb(91, 87, 115), rgb(0, 0, 0));
  overflow-y: overlay;
}
.body::-webkit-scrollbar {
  display: block;
}
.body_info {
  display: flex;
  align-items: flex-end;
  padding: 7px 0;
  box-sizing: border-box;
}
.body_info > img {
  height: 17vw;
  margin-right: 10px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.body_ingoText > p {
  font-size: 12px;
}
.body_ingoText > h4 {
  font-size: 40px;
  margin-bottom: 10px;
}

.body_icons > .MuiSvgIcon-root {
  margin-right: 20px;
}
.body_song > .body_icons {
  display: flex;
  align-items: center;
  margin: 17px 0;
}
.body_icons > .body_shufle {
  font-size: 60px !important;
  margin-left: 30px;
}
.body_icons > .body_shufle {
  font-size: 60px !important;
}
