.login {
  width: 100%;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.spotify_logo {
  width: 50%;
  margin-bottom: 20px;
}
.login_btn {
  padding: 17px 20px;
  background-color: #1db954;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.login_button {
  height: 20vh;
}

@media (max-width: 600px) {
  .spotify_logo {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .spotify_logo {
    width: 75%;
  }
}
